extends layout-logged-in.pug

block content-child
  .container.child
    input(type="hidden" name="leagueId" id="myLeagueId" value=league._id)
    input(type="hidden" name="userEmail" id="userEmail" value=userEmail)
    if isValid
      .row 
        .col-lg-4
          h3 #{league.name} Summary
          table(cellpadding="10")
            tr
              td Number players: 
              td #{league.players.length}
      .row 
        .col-12.text-center
          h2 #{league.name}
          p #{league.players}